.game {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}

.board {
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	border: 1px solid black;
	margin-bottom: 20px;
}

.board__cell {
	border: 1px solid black;
	height: 100px;
	width: 100px;
	cursor: pointer;
	text-align: center;
	line-height: 100px;
	font-weight: bold;
	font-size: 32px;
}

.board__cell:focus {
	outline: none;
}
